{% extends 'partials/base.html' %}
{% block title %}Order Page {% endblock %}
{% block content %}
        {% include 'partials/topnav.html' %}
 <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Order by</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Headphones</td>
                            <td>Electronics</td>
                            <td>5</td>
                            <td>
                                Sonia
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Rubber</td>
                            <td>Stationary</td>
                            <td>20</td>
                            <td>
                                Razor
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Dell Laptop</td>
                            <td>Electronics</td>
                            <td>2</td>
                            <td>
                                Vito
                            </td>
                        </tr>
                     <tr>
                            <th scope="row">4</th>
                            <td>Bag of flour</td>
                            <td>Food</td>
                            <td>9</td>
                            <td>
                                Bob
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!--End Table-->
{% endblock %}