{% extends 'partials/base.html' %}
{% block title %} Register Page {% endblock %}
{% block content %}
    {% load crispy_forms_filters %}
<div class="container">
<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <div class="border">
            <h3>Registration Page</h3>
            <hr>
            <form method="POST">
                {% csrf_token %}
                 {{ form }}
                <input class="btn btn success" type="submit" value="Register">
            </form>
        </div>
    </div>
</div>


</div>

{% endblock %}